@charset "UTF-8";

.button {
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	opacity: 0.6;
	cursor: pointer;
	
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.button span {
	background: rgba(0, 0, 0, 0.6);
	padding: 0 4px;
}

.button:hover { opacity: 1; }

.forest { background-image: url(../images/big_sprites/forest.png); }
.tunnel { background-image: url(../images/big_sprites/tunnel.png); }
.beach { background-image: url(../images/big_sprites/beach.png); }
.city { background-image: url(../images/big_sprites/city.png); }